
#header-search, button {
    border:1px solid #E8E8E8;
    background-color:#E8E8E8;
    height:30px;
    padding:2px;
    color:#4a4a4a;
    float: left;
}
#header-search {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
button {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
